.losmalos{
    background-color: red;
}
.rebeldes{
    background-color: blue;
}
#jefe{
    font-size: 30px;
}
#luke{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.soldados{
    border-style: dashed;
    background-color: red;
    letter-spacing: 3px;
}
.apoyo{
    background-color: red;
    text-align: center;
}
.naves{
    background-color: blue;
    text-transform: uppercase;
}
#droid{
    margin: 0px auto;
    padding: 0px auto;
    
}
.and{
    margin: 0px auto;
   
}