
   .boton{
      margin: 50px 20px 50px 20px;
      padding: 50px 80px 50px 80px;
      text-align: center;
      background-color: aquamarine;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      border-radius: 30px;
      border-color: aquamarine;
      transition: 3s;
      box-shadow: 5px 5px 5px 5px;
      
   }
   button:hover{
      color: blue;
   }
   .shoot{
      margin: 0px auto;
      padding: 0px auto;
   }
   .decision{
      text-align: center;
      margin: 0px auto;
   }