h1{
    color: black;
    text-decoration: underline;
    text-align: center;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border: 3px solid white;
    
}
