#uno{
    height: 150px;
    border: 3px solid #092454;
    background-color: #e69ef2;
    position: static;
}
#dos{
    height: 150px;
    border: 3px solid #092454;
    background-color:  #62d0ff;
    position: relative;
        top: 50px;
        left: 100px ;
}
#tres{
    height: 150px;
    border: 3px solid #092454;
    background-color: #ced5db;
    position: fixed;
    width: 25%;
    bottom: 50px;
    right: 100px;
    z-index: 2;
}
#cuatro{
    height: 150px;
    border: 3px solid #092454;
    background-color: #85e38d;
    position: relative;
}
#cinco{
    background-color: #d4c200;
    width: 25%;
    height: 25%;
    position: absolute;
        top:30px;
        left:15px;
}
